models/
data
cased_L-*
uncased_L-*
.DS_Store
fine_data
save*/
.ipynb_checkpoints
bert-master
*.zip
config.txt
report.txt
transformers
runs
*.zip
__pycache__
power_gadget/
cpu-energy-meter-1.2/
results/
wikidownload.xml.bz2
*/*.env
